* {
    outline: 1px solid skyblue--;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#header {}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    border-bottom: 1px solid #ddd;
}

#header .gnb ul {
    display: flex;
    gap: 4rem;
}

#header .gnb ul>li>a {
    font-size: 20px;
    font-weight: 600;
}

#header .util ul {
    display: flex;
    gap: 3rem;
}

#header .util ul>li {
    position: relative;
}

#header .util ul>li~li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2rem;
    width: 0.2rem;
    height: 0.8rem;
    background: #006272;

    transform: translate(50%, -50%);
}

#header .util ul>li>a {
    font-size: 1.8rem;
    font-weight: 500;
}

#header .mopen {
    display: none;
}

@media(max-width:768px) {
    #header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1000;
        width: calc(100% - 10rem);
        background: #006272;
        height: 100vh;
        color: #fff;

        padding: 12rem 3rem 0 3rem;
        transition: left 0.5s;
    }

    #header .gnb ul>li {
        position: relative;
    }

    #header .gnb ul>li~li::after {
        content: "";
        position: absolute;
        top: -30%;
        left: -1rem;
        width: 100%;
        height: 0.1rem;
        background: #dfdfdf;

        transform: translate(0, -50%);
    }

    #header .gnb ul>li>a {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        margin: 0 0 2rem 0;
    }

    #header .inner .gnb.on {
        left: 0;
    }

    #header .inner .gnb ul {
        flex-direction: column;
        gap: 0;
    }

    #header .inner .Gnb>ul>li>a {
        color: #fff;
        line-height: 4rem;
        border-bottom: 0.1rem solid #a5a5a5;
    }

    #header .inner .util {
        display: none;
    }

    #header .mopen {
        display: block;
        position: fixed;
        right: 1rem;
        top: 2rem;
        color: #006272;
    }


    #header .mopen button {
        border: none;
        color: #006272;
    }


    #header .mopen span {
        /* background: #006272; */
        color: #006272;
    }

    #header .hamburger-inner {
        background: #006272;
        width: 3rem;
    }

    #header .hamburger-inner::after {
        background: #006272;
        width: 3rem;
    }

    #header .hamburger-inner::before {
        background: #006272;
        width: 3rem;
    }
}


.MainVisual {
    padding: 6rem 0 0 0;
}

.MainVisual .inner {
    position: relative;
}

.MainVisual .main_visual_slide .itm {}

.MainVisual .main_visual_slide .itm .tit_area span {
    display: block;
    margin: 0 0 1.6rem 0;
    font-weight: 500;
}

.MainVisual .main_visual_slide .itm .tit_area p {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0 0 2rem 0;
}

.MainVisual .main_visual_slide .itm .btn_area a {
    display: inline-block;
    border: 1px solid #006272;
    padding: 0.8rem 4rem;
    font-size: 1.6rem;
    margin: 0 0 2.4rem 0;
}

.MainVisual .main_visual_slide .itm .btn_area:hover a {
    background: #006272;
    transition: 0.3s;
    color: #fff;
}

.MainVisual .main_visual_slide .itm .img_area {
    height: 48rem;
    width: 100%;
}

.MainVisual .main_visual_slide .itm01 .img_area {
    background: url(../images/mainVisual_001.jpg) no-repeat center center/cover;
}

.MainVisual .main_visual_slide .itm02 .img_area {
    background: url(../images/mainVisual_002.jpg) no-repeat center center/cover;
}

.MainVisual .visual_search {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.MainVisual .visual_search .itm {
    padding: 6rem 4rem;
    border: none;
    border-radius: 2rem;
}

.MainVisual .visual_search .itm01 {
    position: relative;
    background: #009999;
    color: #fff;
}

.MainVisual .visual_search .itm01 strong {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1.6rem 0;
}

.MainVisual .visual_search .itm01 p {
    margin: 0 0 3rem 0;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: -1px;
}

.MainVisual .visual_search .itm01 .input_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainVisual .visual_search .itm01 .search_form input {
    height: 4rem;
    line-height: 3rem;
    width: 32rem;
    border: none;
    padding: 0 0 0 3rem;
}

.MainVisual .visual_search .itm01 .submit button {
    height: 4rem;
    line-height: 3rem;
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    background: #006272;
    color: #fff;
}



.MainVisual .visual_search .itm01 .submit input {
    height: 4rem;
    line-height: 3rem;
    width: 32rem;
    border: none;
    text-align: center;
    cursor: pointer;
    background: #006272;
    color: #fff;
}


.MainVisual .visual_search .itm02 {
    background: #006272;
    color: #fff;
}

.MainVisual .visual_search .itm02 strong {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1.6rem 0;
}

.MainVisual .visual_search .itm02 p {
    margin: 0 0 3rem 0;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: -1px;
}

.MainVisual .visual_search .itm02 ul {
    display: flex;
    justify-content: space-between;
}

.MainVisual .visual_search .itm02 ul>li {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.MainVisual .visual_search .itm02 ul>li:hover {
    color: #006272;
    background: #fff;
    transition: 0.3s;
}

.MainVisual .visual_search .itm02 ul>li a {
    font-size: 1.8rem;
    margin: 0 0 2rem 0;
}

.MainVisual .visual_search .itm02 ul>li span {
    font-size: 3rem;
    border: none;
    border-radius: 1rem;
}

@media(max-width:768px) {

    .MainVisual {
        padding: 6rem 0 0 0;
    }

    .MainVisual .main_visual_slide .itm {
        text-align: center;
    }

    .MainVisual .main_visual_slide .itm .tit_area {}

    .MainVisual .main_visual_slide .itm .tit_area span {
        display: block;
        margin: 0 0 1.6rem 0;
        font-weight: 500;
    }

    .MainVisual .main_visual_slide .itm .tit_area p {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0 0 1.8rem 0;
    }

    .MainVisual .main_visual_slide .itm .btn_area a {
        display: inline-block;
        border: 1px solid #006272;
        padding: 0.8rem 4rem;
        font-size: 1.4rem;
        margin: 0 0 2rem 0;
    }

    .MainVisual .main_visual_slide .itm .btn_area:hover a {
        background: #006272;
        transition: 0.3s;
        color: #006272;
    }

    .MainVisual .main_visual_slide .itm .img_area {
        height: 50rem;
        width: 100%;
    }


    .MainVisual .main_visual_slide .itm01 .img_area {
        background: url(../images/mainVisual_001.jpg) no-repeat center top/cover;
    }

    .MainVisual .main_visual_slide .itm02 .img_area {
        background: url(../images/mainVisual_002.jpg) no-repeat left top/cover;
    }


    .MainVisual .visual_search {
        position: static;
    }

    .MainVisual .visual_search>* {
        flex: 1;
    }

    .MainVisual .visual_search .itm {
        padding: 3rem 2rem;
        border: none;
        border-radius: 0;
        width: 100%;
    }

    .MainVisual .visual_search .itm01 {
        position: relative;
        background: #8A8D8F;
        color: #fff;
    }

    .MainVisual .visual_search .itm01 strong {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 1.6rem 0;
    }

    .MainVisual .visual_search .itm01 p {
        margin: 0 0 3rem 0;
        color: #fff;
        font-size: 1.6rem;
        line-height: 1.8rem;
        letter-spacing: -1px;
    }

    .MainVisual .visual_search .itm01 .input_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .MainVisual .visual_search .itm01 .search_form {
        width: 100%;
    }

    .MainVisual .visual_search .itm01 .search_form input {
        height: 4rem;
        line-height: 3rem;
        width: 100%;
        border: none;
        padding: 0 0 0 3rem;
    }

    .MainVisual .visual_search .itm01 .submit button {
        height: 4rem;
        line-height: 3rem;
        width: 100%;
        border: none;
        text-align: center;
        cursor: pointer;
        background: #006272;
        color: #fff;
    }


    .MainVisual .visual_search .itm02 {
        background: #006272;
        color: #fff;
    }

    .MainVisual .visual_search .itm02 strong {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 1.6rem 0;
    }

    .MainVisual .visual_search .itm02 p {
        margin: 0 0 3rem 0;
        color: #fff;
        font-size: 1.6rem;
        line-height: 1.8rem;
        letter-spacing: -1px;
    }

    .MainVisual .visual_search .itm02 ul {
        display: flex;
        flex-direction: column;

    }

    .MainVisual .visual_search .itm02 ul>li {
        display: flex;
        text-align: center;
        border-bottom: 1px solid #006272;
        background: #fff;
        color: #006272;
        border-radius: 0;
        cursor: pointer;
        padding: 0;
        height: 4rem;
        line-height: 3rem;
        width: 100%;

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .MainVisual .visual_search .itm02 ul>li a {
        font-size: 1.8rem;
        margin: 0;
    }

    .MainVisual .visual_search .itm02 ul>li span {
        /* font-size: 2rem;
        border: none; */
        display: none;
    }
}

.search_area {
    background: #009999;
}

.search_area .search_input {
    height: 11.6rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    padding: 3rem 0;
    margin: 0 auto;

}

.search_area .txt_area {
    color: #fff;
    margin: 0 3rem 0 0;
}

.search_area .txt_area p {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 0.8rem 0;
}

.search_area .txt_area span {
    font-size: 2.4rem;
    font-weight: 500;
}

.search_area .search {
    position: relative;
}

.search_area .search input {

    height: 5rem;
    line-height: 6rem;
    width: 60rem;
    border-radius: 3rem;
    border: none;
    padding: 0 0 0 3rem;
}

.search_area a span {
    position: absolute;
    font-size: 4rem;

    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

@media(max-width:768px) {
    .search_area {
        background: #009999;
    }

    .search_area .search_input {
        height: 20rem;
        display: flex;
        flex-direction: column;
        text-align: center;

        padding: 3rem 0;
        margin: 0 auto;

    }

    .search_area .txt_area {
        color: #fff;
        margin: 0 0 3rem 0;
    }

    .search_area .txt_area p {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0 0 0.8rem 0;
    }

    .search_area .txt_area span {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .search_area .search {
        position: relative;
        width: 80%;
    }

    .search_area .search input {

        height: 4rem;
        line-height: 6rem;
        width: 100%;
        border-radius: 3rem;
        border: none;
        padding: 0 0 0 3rem;
    }

    .search_area a span {
        position: absolute;
        font-size: 4rem;

        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
}

.MainInfo .inner {
    display: flex;
    flex-wrap: nowrap;

}

.MainInfo .tit_area {
    flex: 1;
}

.MainInfo .tit_area strong {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 2rem 0;
    color: #006272;
}

.MainInfo .tit_area p {
    font-size: 3.2rem;
    font-weight: 600;
}


.MainInfo .list_area {
    flex: 3;
}

.MainInfo .list_area ul {
    display: flex;
    gap: 6rem;
}

.MainInfo .list_area ul>li:last-child {
    gap: 0;
}

.MainInfo .list_area ul>li figure {
    text-align: center;
}

.MainInfo .list_area ul>li span {
    font-size: 6rem;
    font-weight: 300;
    border: 1px solid #ddd;
    color: #006272;
    border-radius: 50%;
    padding: 1.8rem;
    margin: 0 0 1.2rem 0;
}

.MainInfo .list_area ul>li:hover span {
    color: #fff;
    background: #006272;
    transition: 0.4s;
}

.MainInfo .list_area ul>li p {
    font-weight: 500;
}

@media(max-width:768px) {
    .MainInfo .inner {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .MainInfo .tit_area strong {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        margin: 0 0 2rem 0;
        color: #006272;
    }

    .MainInfo .tit_area p {
        font-size: 3.2rem;
        font-weight: 600;
        margin: 0 0 4rem 0;
    }

    .MainInfo .list_area ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        max-width: 50rem;
        margin: 0 auto;
    }

    .MainInfo .list_area ul>li:last-child {
        gap: 0;
    }

    .MainInfo .list_area ul>li figure {
        padding: 1rem;
    }
}

.MainContent .inner {
    display: flex;
    flex: 1;
    gap: 2rem;
}

.MainContent .left_area {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2rem;
}

.MainContent .left_area figure {
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 2rem 0 2rem 0;

    width: 34rem;
    height: 20rem;
    overflow: hidden;
}

.MainContent .left_area figure:hover {
    background: linear-gradient(to top, rgba(0, 153, 153, 0.5), #fff);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.MainContent .left_area figure:nth-child(even):hover {
    background: linear-gradient(to top, rgba(255, 156, 29, 0.8), #fff);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.MainContent .left_area .inner_text {
    position: absolute;
    display: flex;
    top: 3rem;
    left: 3rem;
}

.MainContent .left_area .inner_text strong {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    padding: 0 1.6rem 0 0;
}

.MainContent .left_area .inner_text .ul_area ul {
    display: flex;
    flex-direction: column;
    gap: 4.2rem;
}

.MainContent .left_area .inner_text .ul_area ul>li {
    /* padding: 0.8rem; */
}

.MainContent .left_area .inner_text .ul_area ul>li a {
    padding: 0.8rem;
    font-size: 1.6rem;
    border: 1px solid #006272;
}

@media(max-width:786px) {

    .MainContent .inner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .MainContent .left_area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 0;
    }

    .MainContent .left_area figure {
        width: 100%;
        height: 6rem;
        overflow: hidden;
        border-radius: 0;
    }

    .MainContent .left_area .inner_text {
        position: static;
        align-items: center;
        width: 80%;
        justify-content: space-between;
    }


    .MainContent .left_area .inner_text strong {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        /* padding: 0 1.6rem 0 0; */
    }



    .MainContent .left_area .inner_text .ul_area ul {}

    .MainContent .left_area .inner_text .ul_area ul>li a {
        padding: 0;
        font-size: 1.4rem;
        border: 1px solid #006272;
    }
}

.aside_customer {

    padding: 80px 0;
}

.aside_customer .inner {
    max-width: 1400px;
    display: flex;
    gap: 2rem;
}

.aside_customer .inner>* {
    flex: 1;
}

.aside_customer .latest h3 {
    border-bottom: 1px solid #006272;
    padding: 0.8rem 0;
    margin: 0 0 1rem 0;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
}

/* .aside_customer .latest h3 a {
    float: right;
}

.aside_customer .latest h3 .icon {
    font-size: 3rem;
    padding: 1rem;
    background: #ddd;
    border-radius: 50%;
} */

.aside_customer .map .map_box {
    position: relative;
    padding: 0 0 45% 0;
}

.aside_customer .map .map_box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: none;
    border: 1px solid #ddd;
}


@media (max-width: 768px) {
    .aside_customer .inner {
        flex-direction: column;
        gap: 4rem;
    }

    .aside_customer .map .map_box {
        position: relative;
        padding: 0 0 60% 0;
    }
}

#footer {
    padding: 5rem 0 4rem 0;
    background: #7e8389;
    color: #fff;
    text-align: center;
}

#footer .customer_area>ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* align-items: center; */
    margin: 0 0 2.4rem 0;
}

#footer .customer_area ul>li a {
    font-size: 1.6rem;
    font-weight: 500;
}

#footer .address_wrap {
    margin: 0 0 1.6rem 0;
}

#footer .address_wrap ul {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    margin: 0 0 0.8rem 0;
}

#footer .address_wrap ul>li {
    font-size: 1.6rem;
    position: relative;
}

#footer .address_wrap ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1rem;
    width: 0.2rem;
    height: 0.8rem;
    background: #dfdfdf;

    transform: translate(-50%, -50%);
}

#footer p {
    font-size: 1.4rem;
    font-weight: 300;
}

@media (max-width:768px) {

    #footer .customer_area {
        /* width: 80%; */
        align-items: center;
    }

    #footer .customer_area>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;

    }


    #footer .customer_area ul>li a {
        font-size: 1.4rem;
        font-weight: 500;
    }

    #footer .address_wrap ul>li {
        font-size: 1.2rem;
        position: relative;
    }


    #footer .address_wrap ul>li a {
        font-size: 1.2rem;
        position: relative;
    }


    #footer .customer>li~li::after {
        display: none;
    }

    #footer .address_wrap>ul {
        flex-direction: column;
        justify-content: center;
    }

    #footer p {
        font-size: 1.2rem;
        font-weight: 300;
    }
}



#subpage {
    border-bottom: 1px solid var(--line);
}

#subpage .top_page {
    background: var(--background);
    border-bottom: 1px solid var(--line);
}

#subpage .top_page .inner {
    text-align: right;
    font-size: 14px;
    line-height: 34px;
}

#subpage .content_wrap {
    display: flex;
}

#subpage .content_wrap .article {
    flex: 3;
    padding: 80px 80px 80px 0;
}

#subpage .content_wrap .article h2 {
    border-bottom: 1px solid var(--line);
    padding: 16px 0;
    margin: 0 0 36px 0;
}

#subpage .content_wrap .article h2 strong {
    font-size: 24px;
    font-weight: 600;
}

#subpage .content_wrap .side_nav {
    flex: 1;
    border-left: 1px solid var(--line);
    padding: 80px 0 80px 40px;
}

#subpage .side_nav .lnb {
    margin: 0 0 40px 0;
}

#subpage .side_nav .lnb>ul>li>a {
    display: block;
    line-height: 40px;
    border-bottom: 1px solid var(--line);
    padding: 0 0 0 8px;
    white-space: nowrap;
}

#subpage .side_nav .lnb>ul>li.on>a {
    background: #032777;
    color: #fff;
    border-radius: 4px;
}

#subpage .side_nav .lnb>ul>li>a::before {
    content: "\e5cc";
    font-family: 'Material Symbols Outlined';
    font-size: 10px;
    margin: 0 16px 0 0;
}

#subpage .side_nav .call {
    border-top: 2px solid var(--second-color);
    margin: 24px 0 0 0;

}

#subpage .side_nav .call a {
    display: block;
    line-height: 48px;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 1200px) {}

@media (max-width: 768px) {
    #subpage .content_wrap {
        flex-direction: column;
    }

    #subpage .content_wrap .article {
        padding: 80px 0 80px 0;
    }


    #subpage .content_wrap .side_nav {
        flex: 1;
        border-left: none;
        padding: 80px 0 80px 0;
        border-top: 1px solid var(--line);
    }

    #subpage .side_nav .call {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;

        border-top: none;
        margin: 0 0 0 0;
    }

    #subpage .side_nav .call a {
        display: block;
        line-height: 48px;

        text-align: center;
        font-size: 30px;
        font-weight: 600;
        background: var(--primary-color);
        color: #fff;

        white-space: nowrap;
    }

    #subpage .side_nav .call a::before {
        content: "\e61d";
        font-family: 'Material Symbols Outlined';
        margin: 0 16px 0 0;
        padding: 8px 10px;
        font-size: 24px;
        vertical-align: -4px;
        background: #333;
        border-radius: 50%;
    }
}


.aside_customer .latest ul li {
    border-bottom: 1px solid var(--line);
    line-height: 40px;
}

.aside_customer .latest ul li span {
    float: right;
}