* {
    outline: 1px solid skyblue--;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#header {}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

#header .gnb ul {
    display: flex;
    gap: 4rem;
}

#header .gnb ul>li>a {
    font-size: 20px;
    font-weight: 600;
}

#header .util ul {
    display: flex;
    gap: 3rem;
}

#header .util ul>li>a {
    font-size: 1.8rem;
    font-weight: 500;
}

.MainVisual {
    padding: 6rem 0 0 0;
}

.MainVisual .main_visual_slide {
    /* height: 64rem; */
}

.MainVisual .main_visual_slide .itm {}

.MainVisual .main_visual_slide .itm .tit_area span {
    display: block;
    margin: 0 0 1.6rem 0;
    font-weight: 500;
}

.MainVisual .main_visual_slide .itm .tit_area p {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0 0 2rem 0;
}

.MainVisual .main_visual_slide .itm .btn_area a {
    display: inline-block;
    border: 1px solid #006272;
    padding: 0.6rem 4rem;
    font-size: 1.6rem;
    margin: 0 0 2.4rem 0;
}

.MainVisual .main_visual_slide .itm .img_area {
    height: 48rem;
    width: 100%;
}

.MainVisual .main_visual_slide .itm01 .img_area {
    background: url(../images/mainVisual_001.jpg) no-repeat center center/cover;
}

.MainVisual .main_visual_slide .itm02 .img_area {
    background: url(../images/mainVisual_002.jpg) no-repeat center center/cover;
}

.search_area {
    background: #006272;
}

.search_area .search_input {
    height: 11.6rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    padding: 3rem 0;
    margin: 0 auto;
    
}

.search_area .txt_area {
    color: #fff;
    margin: 0 3rem 0 0;
}

.search_area .txt_area p {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 0.8rem 0;
}

.search_area .txt_area span {
    font-size: 2.4rem;
    font-weight: 500;
}

.search_area .search {
    position: relative;
}

.search_area .search input {
    
    height: 5rem;
    line-height: 6rem;
    width: 60rem;
    border-radius: 3rem;
    border: none;
    padding: 0 0 0 3rem;
}

.search_area a span {
    position: absolute;
    font-size: 4rem;

    top: 50%;
    right: 0;
    transform: translate(-50%, -50% );
}

.MainInfo ul {
    display: flex;
justify-content: center;
gap: 6rem;
}


.MainInfo figure {
    width: 20rem;
    height: 20rem;
    text-align: center;
   vertical-align: middle;
   background: #f5f7f8;
   border-radius: 50%;
}

.MainInfo figure span {
    display: inline-block;
   font-size: 7rem;
   padding: 3rem;
}

.MainInfo figure p {
    font-size: 2rem;
    font-weight: 600;
}

.MainContent .left  {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 15px;
}

.MainContent .left>* {
    flex: 1;
    text-align: center;
}

.MainContent .left figure {
    position: relative;
}

.MainContent .left figure img {
    width: 100%;
    height: 100%;
}

.MainContent .left figure .img_box {
    overflow: hidden;
    width: 390px;
    height: 690px;
}

.MainContent .left figure .inner_text {
    position: absolute;
    top: 480px;
    left: 0;
    width: 100%;
    padding: 0 35px;
    /* box-sizing: border-box; */
    text-align: left;
}

.MainContent .left figure .inner_text strong {
    font-size: 32px;
    color: #fff;
    font-weight: 300;
    line-height: 72px;
}

.MainContent .left figure .inner_text p {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 24px 0;
}

.MainContent .left figure .inner_text .link {
    text-align: right;
}

.MainContent .left figure .inner_text .link a {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 60px;
    border: none;
    box-sizing: border-box;
    padding: 14px 0 14px 14px;
    background: transparent;
    cursor: pointer;
}

.MainContent .left figure .inner_text .link a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;
}

.MainContent .left figure .inner_text .link a::after {
    content: "";
    position: absolute;
    right: 0;
    width: 8px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
    transform-origin: right;
}

.MainContent .left figure img {
    transition: 0.6s;
}

.MainContent .left figure:hover img {
    transform: scale(1.1);
    transition: 0.2s;
}

